# IMPORTS AND API_KEY

In [7]:
import requests
import time
import mysql.connector
import config
api_key = '91011d12ab785b50295a8f31e8f78a6b'
db_name = 'movies'

cnx = mysql.connector.connect(
        host = config.host,
        user = config.user,
        password = config.password,
        database = 'movies'
)
cursor = cnx.cursor(buffered=True)

# CREATE DATABASE

# CREATE TABLE(S)

"create_table" creates tables into your database. Takes a query and database as variables.

In [9]:
def create_tmdb_table(table_name, db_name):
    cursor.execute("""
    CREATE TABLE {} (
    movie_id varchar(20),
    imdb_id varchar(20),
    title varchar(100) NOT NULL,
    budget int(12),
    revenue int(12),
    roi float(20),
    release_date varchar(10),
    PRIMARY KEY (movie_id)
    )
""".format(table_name))

In [10]:
create_tmdb_table('tmdb', db_name)

# DEFINE FUNCTIONS

"get_movie_ids" makes API calls to pull movie_ids (needed for reveneue/budget API calls). Takes a genre_id as a variable. Uses api_key defined above. Run time is approximately 30 seconds.

In [11]:
def get_movie_ids(genre_id):
    movies = []
    page = 1
    while page <= 100:
        url = 'https://api.themoviedb.org/3/discover/movie?api_key={}&with_genres={}&sort_by=revenue.desc&page={}'.format(api_key, genre_id, page)
        response = requests.get(url)
        moviez = response.json()['results']
        movies.extend(moviez)
        page += 1
        time.sleep(0.25)
        
    movie_ids = [movie['id'] for movie in movies]
    print(f"Got movie_ids. Now calling revenue and budget information for {len(movie_ids)} movies.")
    return movie_ids

"get_RevBub" makes one API call per movie_id and grabs revenue and budget infomation. Takes a movie_id as a variable. Uses api_key defined above.

In [12]:
def get_RevBud(i_d):
    url = 'https://api.themoviedb.org/3/movie/{}?api_key={}&language=en-US&append_to_response=revenue'.format(i_d,api_key)
    response = requests.get(url)
    movie = response.json()
    time.sleep(0.3)
    return movie

"parsed_results" returns cleaned results: imdb_id, title, budget, revenue, roi, release_date. Takes a list of movies (one dictionary per movie) as a variable.

In [13]:
def parsed_result(movie):
    parsed_movie = {}
    parsed_movie['movie_id'] = movie['id']
    parsed_movie['imdb_id'] = movie['imdb_id']
    parsed_movie['title'] = movie['title']
    parsed_movie['budget'] = movie['budget']
    parsed_movie['revenue'] = movie['revenue']
    parsed_movie['release_date'] = movie['release_date']
    return parsed_movie

"calc_roi" returns ROI = revenue / budget - 1. Takes a list of movies (one dictionary per movie) as a variable.

In [14]:
def calc_roi(movie):    
    if movie['budget'] != 0:
        movie['roi'] = round(((movie['revenue'] / movie['budget'])-1)*100, 2)
    else:
        movie['roi'] = 0.0
    return movie

In [15]:
def insert_into_DB(table_name, movie):
    movie_to_insert = (
        movie['movie_id'],
        movie['imdb_id'],
        movie['title'],
        movie['budget'],
        movie['revenue'],
        movie['roi'],
        movie['release_date']
        )
        
    insert_query = ("""
        INSERT INTO {} (movie_id, imdb_id, title, budget, revenue, roi, release_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        """.format(table_name))
    
    cursor.execute(insert_query, movie_to_insert)
    cnx.commit()

In [16]:
def execute(genre_id, table_name):
    movie_ids = get_movie_ids(str(genre_id))
    for index, i_d in enumerate(movie_ids):
        index += 1
        movie = get_RevBud(i_d)
        parsed_movie = parsed_result(movie)
        movie_plus_roi = calc_roi(parsed_movie)
        insert_into_DB(table_name, movie_plus_roi)
        print(f"Inserted {index} movies into {table_name}")

In [17]:
execute(27, 'tmdb')

Got movie_ids. Now calling revenue and budget information for 2000 movies.
Inserted 1 movies into tmdb
Inserted 2 movies into tmdb
Inserted 3 movies into tmdb
Inserted 4 movies into tmdb
Inserted 5 movies into tmdb
Inserted 6 movies into tmdb
Inserted 7 movies into tmdb
Inserted 8 movies into tmdb
Inserted 9 movies into tmdb
Inserted 10 movies into tmdb
Inserted 11 movies into tmdb
Inserted 12 movies into tmdb
Inserted 13 movies into tmdb
Inserted 14 movies into tmdb
Inserted 15 movies into tmdb
Inserted 16 movies into tmdb
Inserted 17 movies into tmdb
Inserted 18 movies into tmdb
Inserted 19 movies into tmdb
Inserted 20 movies into tmdb
Inserted 21 movies into tmdb
Inserted 22 movies into tmdb
Inserted 23 movies into tmdb
Inserted 24 movies into tmdb
Inserted 25 movies into tmdb
Inserted 26 movies into tmdb
Inserted 27 movies into tmdb
Inserted 28 movies into tmdb
Inserted 29 movies into tmdb
Inserted 30 movies into tmdb
Inserted 31 movies into tmdb
Inserted 32 movies into tmdb
Inserted 33 movies into tmdb
Inserted 34 movies into tmdb
Inserted 35 movies into tmdb
Inserted 36 movies into tmdb
Inserted 37 movies into tmdb
Inserted 38 movies into tmdb
Inserted 39 movies into tmdb
Inserted 40 movies into tmdb
Inserted 41 movies into tmdb
Inserted 42 movies into tmdb
Inserted 43 movies into tmdb
Inserted 44 movies into tmdb
Inserted 45 movies into tmdb
Inserted 46 movies into tmdb
Inserted 47 movies into tmdb
Inserted 48 movies into tmdb
Inserted 49 movies into tmdb
Inserted 50 movies into tmdb
Inserted 51 movies into tmdb
Inserted 52 movies into tmdb
Inserted 53 movies into tmdb
Inserted 54 movies into tmdb
Inserted 55 movies into tmdb
Inserted 56 movies into tmdb
Inserted 57 movies into tmdb
Inserted 58 movies into tmdb
Inserted 59 movies into tmdb
Inserted 60 movies into tmdb
Inserted 61 movies into tmdb
Inserted 62 movies into tmdb
Inserted 63 movies into tmdb
Inserted 64 movies into tmdb
Inserted 65 movies into tmdb
Inserted 66 movies into tmdb
Inserted 67 movies into tmdb
Inserted 68 movies into tmdb
Inserted 69 movies into tmdb
Inserted 70 movies into tmdb
Inserted 71 movies into tmdb
Inserted 72 movies into tmdb
Inserted 73 movies into tmdb
Inserted 74 movies into tmdb
Inserted 75 movies into tmdb
Inserted 76 movies into tmdb
Inserted 77 movies into tmdb
Inserted 78 movies into tmdb
Inserted 79 movies into tmdb
Inserted 80 movies into tmdb
Inserted 81 movies into tmdb
Inserted 82 movies into tmdb
Inserted 83 movies into tmdb
Inserted 84 movies into tmdb
Inserted 85 movies into tmdb
Inserted 86 movies into tmdb
Inserted 87 movies into tmdb
Inserted 88 movies into tmdb
Inserted 89 movies into tmdb
Inserted 90 movies into tmdb
Inserted 91 movies into tmdb
Inserted 92 movies into tmdb
Inserted 93 movies into tmdb
Inserted 94 movies into tmdb
Inserted 95 movies into tmdb
Inserted 96 movies into tmdb
Inserted 97 movies into tmdb
Inserted 98 movies into tmdb
Inserted 99 movies into tmdb
Inserted 100 movies into tmdb
Inserted 101 movies into tmdb
Inserted 102 movies into tmdb
Inserted 103 movies into tmdb
Inserted 104 movies into tmdb
Inserted 105 movies into tmdb
Inserted 106 movies into tmdb
Inserted 107 movies into tmdb
Inserted 108 movies into tmdb
Inserted 109 movies into tmdb
Inserted 110 movies into tmdb
Inserted 111 movies into tmdb
Inserted 112 movies into tmdb
Inserted 113 movies into tmdb
Inserted 114 movies into tmdb
Inserted 115 movies into tmdb
Inserted 116 movies into tmdb
Inserted 117 movies into tmdb
Inserted 118 movies into tmdb
Inserted 119 movies into tmdb
Inserted 120 movies into tmdb
Inserted 121 movies into tmdb
Inserted 122 movies into tmdb
Inserted 123 movies into tmdb
Inserted 124 movies into tmdb
Inserted 125 movies into tmdb
Inserted 126 movies into tmdb
Inserted 127 movies into tmdb
Inserted 128 movies into tmdb
Inserted 129 movies into tmdb
Inserted 130 movies into tmdb
Inserted 131 movies into tmdb
Inserted 132 movies into tmdb
Inserted 133 movies into tmdb
Inserted 134 movies into tmdb
Inserted 135 movies into tmdb
Inserted 136 movies into tmdb
Inserted 137 movies into tmdb
Inserted 138 movies into tmdb
Inserted 139 movies into tmdb
Inserted 140 movies into tmdb
Inserted 141 movies into tmdb
Inserted 142 movies into tmdb
Inserted 143 movies into tmdb
Inserted 144 movies into tmdb
Inserted 145 movies into tmdb
Inserted 146 movies into tmdb
Inserted 147 movies into tmdb
Inserted 148 movies into tmdb
Inserted 149 movies into tmdb
Inserted 150 movies into tmdb
Inserted 151 movies into tmdb
Inserted 152 movies into tmdb
Inserted 153 movies into tmdb
Inserted 154 movies into tmdb
Inserted 155 movies into tmdb
Inserted 156 movies into tmdb
Inserted 157 movies into tmdb
Inserted 158 movies into tmdb
Inserted 159 movies into tmdb
Inserted 160 movies into tmdb
Inserted 161 movies into tmdb
Inserted 162 movies into tmdb
Inserted 163 movies into tmdb
Inserted 164 movies into tmdb
Inserted 165 movies into tmdb
Inserted 166 movies into tmdb
Inserted 167 movies into tmdb
Inserted 168 movies into tmdb
Inserted 169 movies into tmdb
Inserted 170 movies into tmdb
Inserted 171 movies into tmdb
Inserted 172 movies into tmdb
Inserted 173 movies into tmdb
Inserted 174 movies into tmdb
Inserted 175 movies into tmdb
Inserted 176 movies into tmdb
Inserted 177 movies into tmdb
Inserted 178 movies into tmdb
Inserted 179 movies into tmdb
Inserted 180 movies into tmdb
Inserted 181 movies into tmdb
Inserted 182 movies into tmdb
Inserted 183 movies into tmdb
Inserted 184 movies into tmdb
Inserted 185 movies into tmdb
Inserted 186 movies into tmdb
Inserted 187 movies into tmdb
Inserted 188 movies into tmdb
Inserted 189 movies into tmdb
Inserted 190 movies into tmdb
Inserted 191 movies into tmdb
Inserted 192 movies into tmdb
Inserted 193 movies into tmdb
Inserted 194 movies into tmdb
Inserted 195 movies into tmdb
Inserted 196 movies into tmdb
Inserted 197 movies into tmdb
Inserted 198 movies into tmdb
Inserted 199 movies into tmdb
Inserted 200 movies into tmdb
Inserted 201 movies into tmdb
Inserted 202 movies into tmdb
Inserted 203 movies into tmdb
Inserted 204 movies into tmdb
Inserted 205 movies into tmdb
Inserted 206 movies into tmdb
Inserted 207 movies into tmdb
Inserted 208 movies into tmdb
Inserted 209 movies into tmdb
Inserted 210 movies into tmdb
Inserted 211 movies into tmdb
Inserted 212 movies into tmdb
Inserted 213 movies into tmdb
Inserted 214 movies into tmdb
Inserted 215 movies into tmdb
Inserted 216 movies into tmdb
Inserted 217 movies into tmdb
Inserted 218 movies into tmdb
Inserted 219 movies into tmdb
Inserted 220 movies into tmdb
Inserted 221 movies into tmdb
Inserted 222 movies into tmdb
Inserted 223 movies into tmdb
Inserted 224 movies into tmdb
Inserted 225 movies into tmdb
Inserted 226 movies into tmdb
Inserted 227 movies into tmdb
Inserted 228 movies into tmdb
Inserted 229 movies into tmdb
Inserted 230 movies into tmdb
Inserted 231 movies into tmdb
Inserted 232 movies into tmdb
Inserted 233 movies into tmdb
Inserted 234 movies into tmdb
Inserted 235 movies into tmdb
Inserted 236 movies into tmdb
Inserted 237 movies into tmdb
Inserted 238 movies into tmdb
Inserted 239 movies into tmdb
Inserted 240 movies into tmdb
Inserted 241 movies into tmdb
Inserted 242 movies into tmdb
Inserted 243 movies into tmdb
Inserted 244 movies into tmdb
Inserted 245 movies into tmdb
Inserted 246 movies into tmdb
Inserted 247 movies into tmdb
Inserted 248 movies into tmdb
Inserted 249 movies into tmdb
Inserted 250 movies into tmdb
Inserted 251 movies into tmdb
Inserted 252 movies into tmdb
Inserted 253 movies into tmdb
Inserted 254 movies into tmdb
Inserted 255 movies into tmdb
Inserted 256 movies into tmdb
Inserted 257 movies into tmdb
Inserted 258 movies into tmdb
Inserted 259 movies into tmdb
Inserted 260 movies into tmdb
Inserted 261 movies into tmdb
Inserted 262 movies into tmdb
Inserted 263 movies into tmdb
Inserted 264 movies into tmdb
Inserted 265 movies into tmdb
Inserted 266 movies into tmdb
Inserted 267 movies into tmdb
Inserted 268 movies into tmdb
Inserted 269 movies into tmdb
Inserted 270 movies into tmdb
Inserted 271 movies into tmdb
Inserted 272 movies into tmdb
Inserted 273 movies into tmdb
Inserted 274 movies into tmdb
Inserted 275 movies into tmdb

Inserted 276 movies into tmdb
Inserted 277 movies into tmdb
Inserted 278 movies into tmdb
Inserted 279 movies into tmdb
Inserted 280 movies into tmdb
Inserted 281 movies into tmdb
Inserted 282 movies into tmdb
Inserted 283 movies into tmdb
Inserted 284 movies into tmdb
Inserted 285 movies into tmdb
Inserted 286 movies into tmdb
Inserted 287 movies into tmdb
Inserted 288 movies into tmdb
Inserted 289 movies into tmdb
Inserted 290 movies into tmdb
Inserted 291 movies into tmdb
Inserted 292 movies into tmdb
Inserted 293 movies into tmdb
Inserted 294 movies into tmdb
Inserted 295 movies into tmdb
Inserted 296 movies into tmdb
Inserted 297 movies into tmdb
Inserted 298 movies into tmdb
Inserted 299 movies into tmdb
Inserted 300 movies into tmdb
Inserted 301 movies into tmdb
Inserted 302 movies into tmdb
Inserted 303 movies into tmdb
Inserted 304 movies into tmdb
Inserted 305 movies into tmdb
Inserted 306 movies into tmdb
Inserted 307 movies into tmdb
Inserted 308 movies into tmdb
Inserted 309 movies into tmdb
Inserted 310 movies into tmdb
Inserted 311 movies into tmdb
Inserted 312 movies into tmdb
Inserted 313 movies into tmdb
Inserted 314 movies into tmdb
Inserted 315 movies into tmdb
Inserted 316 movies into tmdb
Inserted 317 movies into tmdb
Inserted 318 movies into tmdb
Inserted 319 movies into tmdb
Inserted 320 movies into tmdb
Inserted 321 movies into tmdb
Inserted 322 movies into tmdb
Inserted 323 movies into tmdb
Inserted 324 movies into tmdb
Inserted 325 movies into tmdb
Inserted 326 movies into tmdb
Inserted 327 movies into tmdb
Inserted 328 movies into tmdb
Inserted 329 movies into tmdb
Inserted 330 movies into tmdb
Inserted 331 movies into tmdb
Inserted 332 movies into tmdb
Inserted 333 movies into tmdb
Inserted 334 movies into tmdb
Inserted 335 movies into tmdb
Inserted 336 movies into tmdb
Inserted 337 movies into tmdb
Inserted 338 movies into tmdb
Inserted 339 movies into tmdb
Inserted 340 movies into tmdb
Inserted 341 movies into tmdb
Inserted 342 movies into tmdb
Inserted 343 movies into tmdb
Inserted 344 movies into tmdb
Inserted 345 movies into tmdb
Inserted 346 movies into tmdb
Inserted 347 movies into tmdb
Inserted 348 movies into tmdb
Inserted 349 movies into tmdb
Inserted 350 movies into tmdb
Inserted 351 movies into tmdb
Inserted 352 movies into tmdb
Inserted 353 movies into tmdb
Inserted 354 movies into tmdb
Inserted 355 movies into tmdb
Inserted 356 movies into tmdb
Inserted 357 movies into tmdb
Inserted 358 movies into tmdb
Inserted 359 movies into tmdb
Inserted 360 movies into tmdb
Inserted 361 movies into tmdb
Inserted 362 movies into tmdb
Inserted 363 movies into tmdb
Inserted 364 movies into tmdb
Inserted 365 movies into tmdb
Inserted 366 movies into tmdb
Inserted 367 movies into tmdb
Inserted 368 movies into tmdb
Inserted 369 movies into tmdb
Inserted 370 movies into tmdb
Inserted 371 movies into tmdb
Inserted 372 movies into tmdb
Inserted 373 movies into tmdb
Inserted 374 movies into tmdb
Inserted 375 movies into tmdb
Inserted 376 movies into tmdb
Inserted 377 movies into tmdb
Inserted 378 movies into tmdb
Inserted 379 movies into tmdb
Inserted 380 movies into tmdb
Inserted 381 movies into tmdb
Inserted 382 movies into tmdb
Inserted 383 movies into tmdb
Inserted 384 movies into tmdb
Inserted 385 movies into tmdb
Inserted 386 movies into tmdb
Inserted 387 movies into tmdb
Inserted 388 movies into tmdb
Inserted 389 movies into tmdb
Inserted 390 movies into tmdb
Inserted 391 movies into tmdb
Inserted 392 movies into tmdb
Inserted 393 movies into tmdb
Inserted 394 movies into tmdb
Inserted 395 movies into tmdb
Inserted 396 movies into tmdb
Inserted 397 movies into tmdb
Inserted 398 movies into tmdb
Inserted 399 movies into tmdb
Inserted 400 movies into tmdb
Inserted 401 movies into tmdb
Inserted 402 movies into tmdb
Inserted 403 movies into tmdb
Inserted 404 movies into tmdb
Inserted 405 movies into tmdb
Inserted 406 movies into tmdb
Inserted 407 movies into tmdb
Inserted 408 movies into tmdb
Inserted 409 movies into tmdb
Inserted 410 movies into tmdb
Inserted 411 movies into tmdb
Inserted 412 movies into tmdb
Inserted 413 movies into tmdb
Inserted 414 movies into tmdb
Inserted 415 movies into tmdb
Inserted 416 movies into tmdb
Inserted 417 movies into tmdb
Inserted 418 movies into tmdb
Inserted 419 movies into tmdb
Inserted 420 movies into tmdb
Inserted 421 movies into tmdb
Inserted 422 movies into tmdb
Inserted 423 movies into tmdb
Inserted 424 movies into tmdb
Inserted 425 movies into tmdb
Inserted 426 movies into tmdb
Inserted 427 movies into tmdb
Inserted 428 movies into tmdb
Inserted 429 movies into tmdb
Inserted 430 movies into tmdb
Inserted 431 movies into tmdb
Inserted 432 movies into tmdb
Inserted 433 movies into tmdb
Inserted 434 movies into tmdb
Inserted 435 movies into tmdb
Inserted 436 movies into tmdb
Inserted 437 movies into tmdb
Inserted 438 movies into tmdb
Inserted 439 movies into tmdb
Inserted 440 movies into tmdb
Inserted 441 movies into tmdb
Inserted 442 movies into tmdb
Inserted 443 movies into tmdb
Inserted 444 movies into tmdb
Inserted 445 movies into tmdb
Inserted 446 movies into tmdb
Inserted 447 movies into tmdb
Inserted 448 movies into tmdb
Inserted 449 movies into tmdb
Inserted 450 movies into tmdb
Inserted 451 movies into tmdb
Inserted 452 movies into tmdb
Inserted 453 movies into tmdb
Inserted 454 movies into tmdb
Inserted 455 movies into tmdb
Inserted 456 movies into tmdb
Inserted 457 movies into tmdb
Inserted 458 movies into tmdb
Inserted 459 movies into tmdb
Inserted 460 movies into tmdb
Inserted 461 movies into tmdb
Inserted 462 movies into tmdb
Inserted 463 movies into tmdb
Inserted 464 movies into tmdb
Inserted 465 movies into tmdb
Inserted 466 movies into tmdb
Inserted 467 movies into tmdb
Inserted 468 movies into tmdb
Inserted 469 movies into tmdb
Inserted 470 movies into tmdb
Inserted 471 movies into tmdb
Inserted 472 movies into tmdb
Inserted 473 movies into tmdb
Inserted 474 movies into tmdb
Inserted 475 movies into tmdb
Inserted 476 movies into tmdb
Inserted 477 movies into tmdb
Inserted 478 movies into tmdb
Inserted 479 movies into tmdb
Inserted 480 movies into tmdb
Inserted 481 movies into tmdb
Inserted 482 movies into tmdb
Inserted 483 movies into tmdb
Inserted 484 movies into tmdb
Inserted 485 movies into tmdb
Inserted 486 movies into tmdb
Inserted 487 movies into tmdb
Inserted 488 movies into tmdb
Inserted 489 movies into tmdb
Inserted 490 movies into tmdb
Inserted 491 movies into tmdb
Inserted 492 movies into tmdb
Inserted 493 movies into tmdb
Inserted 494 movies into tmdb
Inserted 495 movies into tmdb
Inserted 496 movies into tmdb
Inserted 497 movies into tmdb
Inserted 498 movies into tmdb
Inserted 499 movies into tmdb
Inserted 500 movies into tmdb
Inserted 501 movies into tmdb
Inserted 502 movies into tmdb
Inserted 503 movies into tmdb
Inserted 504 movies into tmdb
Inserted 505 movies into tmdb
Inserted 506 movies into tmdb
Inserted 507 movies into tmdb
Inserted 508 movies into tmdb
Inserted 509 movies into tmdb
Inserted 510 movies into tmdb
Inserted 511 movies into tmdb
Inserted 512 movies into tmdb
Inserted 513 movies into tmdb
Inserted 514 movies into tmdb
Inserted 515 movies into tmdb
Inserted 516 movies into tmdb
Inserted 517 movies into tmdb
Inserted 518 movies into tmdb
Inserted 519 movies into tmdb
Inserted 520 movies into tmdb
Inserted 521 movies into tmdb
Inserted 522 movies into tmdb
Inserted 523 movies into tmdb
Inserted 524 movies into tmdb
Inserted 525 movies into tmdb
Inserted 526 movies into tmdb
Inserted 527 movies into tmdb
Inserted 528 movies into tmdb
Inserted 529 movies into tmdb
Inserted 530 movies into tmdb
Inserted 531 movies into tmdb
Inserted 532 movies into tmdb
Inserted 533 movies into tmdb
Inserted 534 movies into tmdb
Inserted 535 movies into tmdb
Inserted 536 movies into tmdb
Inserted 537 movies into tmdb
Inserted 538 movies into tmdb
Inserted 539 movies into tmdb
Inserted 540 movies into tmdb
Inserted 541 movies into tmdb
Inserted 542 movies into tmdb
Inserted 543 movies into tmdb
Inserted 544 movies into tmdb
Inserted 545 movies into tmdb
Inserted 546 movies into tmdb
Inserted 547 movies into tmdb
Inserted 548 movies into tmdb
Inserted 549 movies into tmdb

Inserted 550 movies into tmdb
Inserted 551 movies into tmdb
Inserted 552 movies into tmdb
Inserted 553 movies into tmdb
Inserted 554 movies into tmdb
Inserted 555 movies into tmdb
Inserted 556 movies into tmdb
Inserted 557 movies into tmdb
Inserted 558 movies into tmdb
Inserted 559 movies into tmdb
Inserted 560 movies into tmdb
Inserted 561 movies into tmdb
Inserted 562 movies into tmdb
Inserted 563 movies into tmdb
Inserted 564 movies into tmdb
Inserted 565 movies into tmdb
Inserted 566 movies into tmdb
Inserted 567 movies into tmdb
Inserted 568 movies into tmdb
Inserted 569 movies into tmdb
Inserted 570 movies into tmdb
Inserted 571 movies into tmdb
Inserted 572 movies into tmdb
Inserted 573 movies into tmdb
Inserted 574 movies into tmdb
Inserted 575 movies into tmdb
Inserted 576 movies into tmdb
Inserted 577 movies into tmdb
Inserted 578 movies into tmdb
Inserted 579 movies into tmdb
Inserted 580 movies into tmdb
Inserted 581 movies into tmdb
Inserted 582 movies into tmdb
Inserted 583 movies into tmdb
Inserted 584 movies into tmdb
Inserted 585 movies into tmdb
Inserted 586 movies into tmdb
Inserted 587 movies into tmdb
Inserted 588 movies into tmdb
Inserted 589 movies into tmdb
Inserted 590 movies into tmdb
Inserted 591 movies into tmdb
Inserted 592 movies into tmdb
Inserted 593 movies into tmdb
Inserted 594 movies into tmdb
Inserted 595 movies into tmdb
Inserted 596 movies into tmdb
Inserted 597 movies into tmdb
Inserted 598 movies into tmdb
Inserted 599 movies into tmdb
Inserted 600 movies into tmdb
Inserted 601 movies into tmdb
Inserted 602 movies into tmdb
Inserted 603 movies into tmdb
Inserted 604 movies into tmdb
Inserted 605 movies into tmdb
Inserted 606 movies into tmdb
Inserted 607 movies into tmdb
Inserted 608 movies into tmdb
Inserted 609 movies into tmdb
Inserted 610 movies into tmdb
Inserted 611 movies into tmdb
Inserted 612 movies into tmdb
Inserted 613 movies into tmdb
Inserted 614 movies into tmdb
Inserted 615 movies into tmdb
Inserted 616 movies into tmdb
Inserted 617 movies into tmdb
Inserted 618 movies into tmdb
Inserted 619 movies into tmdb
Inserted 620 movies into tmdb
Inserted 621 movies into tmdb
Inserted 622 movies into tmdb
Inserted 623 movies into tmdb
Inserted 624 movies into tmdb
Inserted 625 movies into tmdb
Inserted 626 movies into tmdb
Inserted 627 movies into tmdb
Inserted 628 movies into tmdb
Inserted 629 movies into tmdb
Inserted 630 movies into tmdb
Inserted 631 movies into tmdb
Inserted 632 movies into tmdb
Inserted 633 movies into tmdb
Inserted 634 movies into tmdb
Inserted 635 movies into tmdb
Inserted 636 movies into tmdb
Inserted 637 movies into tmdb
Inserted 638 movies into tmdb
Inserted 639 movies into tmdb
Inserted 640 movies into tmdb
Inserted 641 movies into tmdb
Inserted 642 movies into tmdb
Inserted 643 movies into tmdb
Inserted 644 movies into tmdb
Inserted 645 movies into tmdb
Inserted 646 movies into tmdb
Inserted 647 movies into tmdb
Inserted 648 movies into tmdb
Inserted 649 movies into tmdb
Inserted 650 movies into tmdb
Inserted 651 movies into tmdb
Inserted 652 movies into tmdb
Inserted 653 movies into tmdb
Inserted 654 movies into tmdb
Inserted 655 movies into tmdb
Inserted 656 movies into tmdb
Inserted 657 movies into tmdb
Inserted 658 movies into tmdb
Inserted 659 movies into tmdb
Inserted 660 movies into tmdb
Inserted 661 movies into tmdb
Inserted 662 movies into tmdb
Inserted 663 movies into tmdb
Inserted 664 movies into tmdb
Inserted 665 movies into tmdb
Inserted 666 movies into tmdb
Inserted 667 movies into tmdb
Inserted 668 movies into tmdb
Inserted 669 movies into tmdb
Inserted 670 movies into tmdb
Inserted 671 movies into tmdb
Inserted 672 movies into tmdb
Inserted 673 movies into tmdb
Inserted 674 movies into tmdb
Inserted 675 movies into tmdb
Inserted 676 movies into tmdb
Inserted 677 movies into tmdb
Inserted 678 movies into tmdb
Inserted 679 movies into tmdb
Inserted 680 movies into tmdb
Inserted 681 movies into tmdb
Inserted 682 movies into tmdb
Inserted 683 movies into tmdb
Inserted 684 movies into tmdb
Inserted 685 movies into tmdb
Inserted 686 movies into tmdb
Inserted 687 movies into tmdb
Inserted 688 movies into tmdb
Inserted 689 movies into tmdb
Inserted 690 movies into tmdb
Inserted 691 movies into tmdb
Inserted 692 movies into tmdb
Inserted 693 movies into tmdb
Inserted 694 movies into tmdb
Inserted 695 movies into tmdb
Inserted 696 movies into tmdb
Inserted 697 movies into tmdb
Inserted 698 movies into tmdb
Inserted 699 movies into tmdb
Inserted 700 movies into tmdb
Inserted 701 movies into tmdb
Inserted 702 movies into tmdb
Inserted 703 movies into tmdb
Inserted 704 movies into tmdb
Inserted 705 movies into tmdb
Inserted 706 movies into tmdb
Inserted 707 movies into tmdb
Inserted 708 movies into tmdb
Inserted 709 movies into tmdb
Inserted 710 movies into tmdb
Inserted 711 movies into tmdb
Inserted 712 movies into tmdb
Inserted 713 movies into tmdb
Inserted 714 movies into tmdb
Inserted 715 movies into tmdb
Inserted 716 movies into tmdb
Inserted 717 movies into tmdb
Inserted 718 movies into tmdb
Inserted 719 movies into tmdb
Inserted 720 movies into tmdb
Inserted 721 movies into tmdb
Inserted 722 movies into tmdb
Inserted 723 movies into tmdb
Inserted 724 movies into tmdb
Inserted 725 movies into tmdb
Inserted 726 movies into tmdb
Inserted 727 movies into tmdb
Inserted 728 movies into tmdb
Inserted 729 movies into tmdb
Inserted 730 movies into tmdb
Inserted 731 movies into tmdb
Inserted 732 movies into tmdb
Inserted 733 movies into tmdb
Inserted 734 movies into tmdb
Inserted 735 movies into tmdb
Inserted 736 movies into tmdb
Inserted 737 movies into tmdb
Inserted 738 movies into tmdb
Inserted 739 movies into tmdb
Inserted 740 movies into tmdb
Inserted 741 movies into tmdb
Inserted 742 movies into tmdb
Inserted 743 movies into tmdb
Inserted 744 movies into tmdb
Inserted 745 movies into tmdb
Inserted 746 movies into tmdb
Inserted 747 movies into tmdb
Inserted 748 movies into tmdb
Inserted 749 movies into tmdb
Inserted 750 movies into tmdb
Inserted 751 movies into tmdb
Inserted 752 movies into tmdb
Inserted 753 movies into tmdb
Inserted 754 movies into tmdb
Inserted 755 movies into tmdb
Inserted 756 movies into tmdb
Inserted 757 movies into tmdb
Inserted 758 movies into tmdb
Inserted 759 movies into tmdb
Inserted 760 movies into tmdb
Inserted 761 movies into tmdb
Inserted 762 movies into tmdb
Inserted 763 movies into tmdb
Inserted 764 movies into tmdb
Inserted 765 movies into tmdb
Inserted 766 movies into tmdb
Inserted 767 movies into tmdb
Inserted 768 movies into tmdb
Inserted 769 movies into tmdb
Inserted 770 movies into tmdb
Inserted 771 movies into tmdb
Inserted 772 movies into tmdb
Inserted 773 movies into tmdb
Inserted 774 movies into tmdb
Inserted 775 movies into tmdb
Inserted 776 movies into tmdb
Inserted 777 movies into tmdb
Inserted 778 movies into tmdb
Inserted 779 movies into tmdb
Inserted 780 movies into tmdb
Inserted 781 movies into tmdb
Inserted 782 movies into tmdb
Inserted 783 movies into tmdb
Inserted 784 movies into tmdb
Inserted 785 movies into tmdb
Inserted 786 movies into tmdb
Inserted 787 movies into tmdb
Inserted 788 movies into tmdb
Inserted 789 movies into tmdb
Inserted 790 movies into tmdb
Inserted 791 movies into tmdb
Inserted 792 movies into tmdb
Inserted 793 movies into tmdb
Inserted 794 movies into tmdb
Inserted 795 movies into tmdb
Inserted 796 movies into tmdb
Inserted 797 movies into tmdb
Inserted 798 movies into tmdb
Inserted 799 movies into tmdb
Inserted 800 movies into tmdb
Inserted 801 movies into tmdb
Inserted 802 movies into tmdb
Inserted 803 movies into tmdb
Inserted 804 movies into tmdb
Inserted 805 movies into tmdb
Inserted 806 movies into tmdb
Inserted 807 movies into tmdb
Inserted 808 movies into tmdb
Inserted 809 movies into tmdb
Inserted 810 movies into tmdb
Inserted 811 movies into tmdb
Inserted 812 movies into tmdb
Inserted 813 movies into tmdb
Inserted 814 movies into tmdb
Inserted 815 movies into tmdb
Inserted 816 movies into tmdb
Inserted 817 movies into tmdb
Inserted 818 movies into tmdb
Inserted 819 movies into tmdb
Inserted 820 movies into tmdb
Inserted 821 movies into tmdb
Inserted 822 movies into tmdb
Inserted 823 movies into tmdb

Inserted 824 movies into tmdb
Inserted 825 movies into tmdb
Inserted 826 movies into tmdb
Inserted 827 movies into tmdb
Inserted 828 movies into tmdb
Inserted 829 movies into tmdb
Inserted 830 movies into tmdb
Inserted 831 movies into tmdb
Inserted 832 movies into tmdb
Inserted 833 movies into tmdb
Inserted 834 movies into tmdb
Inserted 835 movies into tmdb
Inserted 836 movies into tmdb
Inserted 837 movies into tmdb
Inserted 838 movies into tmdb
Inserted 839 movies into tmdb
Inserted 840 movies into tmdb
Inserted 841 movies into tmdb
Inserted 842 movies into tmdb
Inserted 843 movies into tmdb
Inserted 844 movies into tmdb
Inserted 845 movies into tmdb
Inserted 846 movies into tmdb
Inserted 847 movies into tmdb
Inserted 848 movies into tmdb
Inserted 849 movies into tmdb
Inserted 850 movies into tmdb
Inserted 851 movies into tmdb
Inserted 852 movies into tmdb
Inserted 853 movies into tmdb
Inserted 854 movies into tmdb
Inserted 855 movies into tmdb
Inserted 856 movies into tmdb
Inserted 857 movies into tmdb
Inserted 858 movies into tmdb
Inserted 859 movies into tmdb
Inserted 860 movies into tmdb
Inserted 861 movies into tmdb
Inserted 862 movies into tmdb
Inserted 863 movies into tmdb
Inserted 864 movies into tmdb
Inserted 865 movies into tmdb
Inserted 866 movies into tmdb
Inserted 867 movies into tmdb
Inserted 868 movies into tmdb
Inserted 869 movies into tmdb
Inserted 870 movies into tmdb
Inserted 871 movies into tmdb
Inserted 872 movies into tmdb
Inserted 873 movies into tmdb
Inserted 874 movies into tmdb
Inserted 875 movies into tmdb
Inserted 876 movies into tmdb
Inserted 877 movies into tmdb
Inserted 878 movies into tmdb
Inserted 879 movies into tmdb
Inserted 880 movies into tmdb
Inserted 881 movies into tmdb
Inserted 882 movies into tmdb
Inserted 883 movies into tmdb
Inserted 884 movies into tmdb
Inserted 885 movies into tmdb
Inserted 886 movies into tmdb
Inserted 887 movies into tmdb
Inserted 888 movies into tmdb
Inserted 889 movies into tmdb
Inserted 890 movies into tmdb
Inserted 891 movies into tmdb
Inserted 892 movies into tmdb
Inserted 893 movies into tmdb
Inserted 894 movies into tmdb
Inserted 895 movies into tmdb
Inserted 896 movies into tmdb
Inserted 897 movies into tmdb
Inserted 898 movies into tmdb
Inserted 899 movies into tmdb
Inserted 900 movies into tmdb
Inserted 901 movies into tmdb
Inserted 902 movies into tmdb
Inserted 903 movies into tmdb
Inserted 904 movies into tmdb
Inserted 905 movies into tmdb
Inserted 906 movies into tmdb
Inserted 907 movies into tmdb
Inserted 908 movies into tmdb
Inserted 909 movies into tmdb
Inserted 910 movies into tmdb
Inserted 911 movies into tmdb
Inserted 912 movies into tmdb
Inserted 913 movies into tmdb
Inserted 914 movies into tmdb
Inserted 915 movies into tmdb
Inserted 916 movies into tmdb
Inserted 917 movies into tmdb
Inserted 918 movies into tmdb
Inserted 919 movies into tmdb
Inserted 920 movies into tmdb
Inserted 921 movies into tmdb
Inserted 922 movies into tmdb
Inserted 923 movies into tmdb
Inserted 924 movies into tmdb
Inserted 925 movies into tmdb
Inserted 926 movies into tmdb
Inserted 927 movies into tmdb
Inserted 928 movies into tmdb
Inserted 929 movies into tmdb
Inserted 930 movies into tmdb
Inserted 931 movies into tmdb
Inserted 932 movies into tmdb
Inserted 933 movies into tmdb
Inserted 934 movies into tmdb
Inserted 935 movies into tmdb
Inserted 936 movies into tmdb
Inserted 937 movies into tmdb
Inserted 938 movies into tmdb
Inserted 939 movies into tmdb
Inserted 940 movies into tmdb
Inserted 941 movies into tmdb
Inserted 942 movies into tmdb
Inserted 943 movies into tmdb
Inserted 944 movies into tmdb
Inserted 945 movies into tmdb
Inserted 946 movies into tmdb
Inserted 947 movies into tmdb
Inserted 948 movies into tmdb
Inserted 949 movies into tmdb
Inserted 950 movies into tmdb
Inserted 951 movies into tmdb
Inserted 952 movies into tmdb
Inserted 953 movies into tmdb
Inserted 954 movies into tmdb
Inserted 955 movies into tmdb
Inserted 956 movies into tmdb
Inserted 957 movies into tmdb
Inserted 958 movies into tmdb
Inserted 959 movies into tmdb
Inserted 960 movies into tmdb
Inserted 961 movies into tmdb
Inserted 962 movies into tmdb
Inserted 963 movies into tmdb
Inserted 964 movies into tmdb
Inserted 965 movies into tmdb
Inserted 966 movies into tmdb
Inserted 967 movies into tmdb
Inserted 968 movies into tmdb
Inserted 969 movies into tmdb
Inserted 970 movies into tmdb
Inserted 971 movies into tmdb
Inserted 972 movies into tmdb
Inserted 973 movies into tmdb
Inserted 974 movies into tmdb
Inserted 975 movies into tmdb
Inserted 976 movies into tmdb
Inserted 977 movies into tmdb
Inserted 978 movies into tmdb
Inserted 979 movies into tmdb
Inserted 980 movies into tmdb
Inserted 981 movies into tmdb
Inserted 982 movies into tmdb
Inserted 983 movies into tmdb
Inserted 984 movies into tmdb
Inserted 985 movies into tmdb
Inserted 986 movies into tmdb
Inserted 987 movies into tmdb
Inserted 988 movies into tmdb
Inserted 989 movies into tmdb
Inserted 990 movies into tmdb
Inserted 991 movies into tmdb
Inserted 992 movies into tmdb
Inserted 993 movies into tmdb
Inserted 994 movies into tmdb
Inserted 995 movies into tmdb
Inserted 996 movies into tmdb
Inserted 997 movies into tmdb
Inserted 998 movies into tmdb
Inserted 999 movies into tmdb
Inserted 1000 movies into tmdb
Inserted 1001 movies into tmdb
Inserted 1002 movies into tmdb
Inserted 1003 movies into tmdb
Inserted 1004 movies into tmdb
Inserted 1005 movies into tmdb
Inserted 1006 movies into tmdb
Inserted 1007 movies into tmdb
Inserted 1008 movies into tmdb
Inserted 1009 movies into tmdb
Inserted 1010 movies into tmdb
Inserted 1011 movies into tmdb
Inserted 1012 movies into tmdb
Inserted 1013 movies into tmdb
Inserted 1014 movies into tmdb
Inserted 1015 movies into tmdb
Inserted 1016 movies into tmdb
Inserted 1017 movies into tmdb
Inserted 1018 movies into tmdb
Inserted 1019 movies into tmdb
Inserted 1020 movies into tmdb
Inserted 1021 movies into tmdb
Inserted 1022 movies into tmdb
Inserted 1023 movies into tmdb
Inserted 1024 movies into tmdb
Inserted 1025 movies into tmdb
Inserted 1026 movies into tmdb
Inserted 1027 movies into tmdb
Inserted 1028 movies into tmdb
Inserted 1029 movies into tmdb
Inserted 1030 movies into tmdb
Inserted 1031 movies into tmdb
Inserted 1032 movies into tmdb
Inserted 1033 movies into tmdb
Inserted 1034 movies into tmdb
Inserted 1035 movies into tmdb
Inserted 1036 movies into tmdb
Inserted 1037 movies into tmdb
Inserted 1038 movies into tmdb
Inserted 1039 movies into tmdb
Inserted 1040 movies into tmdb
Inserted 1041 movies into tmdb
Inserted 1042 movies into tmdb
Inserted 1043 movies into tmdb
Inserted 1044 movies into tmdb
Inserted 1045 movies into tmdb
Inserted 1046 movies into tmdb
Inserted 1047 movies into tmdb
Inserted 1048 movies into tmdb

KeyError: 'id'